@import "~bootstrap/scss/bootstrap.scss";

.cuerpo{height:100vh;}

.container{height: 300px;
    width:120px;
    margin:auto;
    border-radius:10%;
}

.red-light{height:90px;
width:90px;
border-radius:100%;
z-index: 10;}

.yellow-light{height:90px;
    width:90px;
    border-radius:100%;
    z-index: 10;}

.green-light{height:90px;
    width:90px;
    border-radius:100%;
    z-index: 10;}

.selected{
    z-index: 5;
}